# Dependencies
node_modules/

# Build outputs
dist/
dist-ssr/
build/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment
.env
.env.local
.env.*.local

# Database (opcional: descomente se não quiser versionar)
# *.db
# *.sqlite

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Outros
LivrosDev - Kindle/
README (Sem Pirataria).md
