PORT=3001
JWT_SECRET=CzjDvGbtAUSjnEWLHHFVeqfLaCHVou/bisU+4du35mj+HhZbbIEd6UiQ1+1sTpeg
DATABASE_PATH=./data/biblioteca.db

# URL base do raw GitHub para PDFs (ex: https://raw.githubusercontent.com/SEU_USER/BibliotecaDev/main)
GITHUB_RAW_BASE=
